.text-content.member-form
  .row
    .columns
      %h2 Sign up

  = simple_form_for(@clan_member, :url => registration_path(:clan_member)) do |f|
    .row
      .columns.large-6.large-offset-1
        = f.error_notification

        .form-inputs
          = f.input :username, :required => true, :autofocus => true, placeholder: 'Name', label: false
          = f.input :password, :required => true, placeholder: 'Password', label: false
          .row.collapse
            .columns.small-5
              %span.right.prefix http://www.steamcommunity.com/id/
            .columns.small-7
              = f.input :steam_link, label: false
          = f.input :frequency, collection: ClanMember::FREQUENCIES, as: :radio_buttons, label: 'How often do you play?'
          = f.input :current_rank, placeholder: 'optional', collection: ClanMember::RANKS
          = f.input :languages, placeholder: 'Languages spoken', label: false

        .form-actions
          = f.button :submit, "Sign up"

      .columns.large-4.large-offset-1
        %br
        = link_to "Sign in", new_session_path(:clan_member)
