.row
  .columns.large-12
    %h3
.row
  .columns.large-12.text-center
    %p
      %span
        My
        = link_to 'Steam Profile', 'http://steamcommunity.com/id/undrhund', target: '_blank'
      %span
        Send me a
        = mail_to 'undrhund@gmail.com', 'Mail'
      %span
        The Project on
        = link_to 'Github', 'https://github.com/donaier/undrhund', target: '_blank'
      %span
        Hosted on
        = link_to 'Heroku', 'http://www.heroku.com/', target: '_blank'
      %span
        Icons by
        = link_to 'Glyphicons', 'http://glyphicons.com/', target: '_blank'
