.row
  .columns
    %h3 undrhund's CS:GO Skin Database

.text-content
  .row
    .columns
      %p
        Browse Skins by
        = link_to 'each Gun', weapons_path
        or in
        = link_to 'Collections', skins_path
      %p Knives comming soon... havent yet decided how to handle them
      %p Stats comming (hopefully) soon...
      %br
      %br
      %p Any inputs, remarks, ideas, Steam friend requests will be appreciated!
      %p
        Mails to
        = mail_to 'undrhund@gmail.com'
        %br
        Friend Requests to
        = link_to 'undrhund.ch', 'http://steamcommunity.com/id/undrhund'
        %br
        (more links at the bottom of the page)

%hr

.text-content
  .row
    .columns
      %p Please enjoy my sweet inventory:

- inventory_response = HTTParty.get('http://steamcommunity.com/id/undrhund/inventory/json/730/2')
- inventory_hash = JSON.parse inventory_response.body

.text-content
  .row
    .columns
      %ul
        - inventory_hash['rgDescriptions'].each do |area|
          - area.each do |item|
            - if item.is_a?(Hash)
              %li
                %p= item['name']
                = image_tag("http://cdn.steamcommunity.com/economy/image/#{item['icon_url']}")

.text-content
  .row
    .columns
      %p Or have a look at my awesome stats:

- stats = Hash.new
- fetched_data = JSON.parse HTTParty.get('http://api.steampowered.com/ISteamUserStats/GetUserStatsForGame/v0002/?appid=730&key=095230FAC8B1FB2C1F3F651871EE067E&steamid=76561197982571493').body

- fetched_data['playerstats']['stats'].each do |item|
  - stats[item['name']] = item['value']

.text-content
  .row
    .columns

      %p
        Total Kills:
        = stats['total_kills']
      %p
        Total Deaths:
        = stats['total_deaths']
      %p
        Time Played:
        = stats['total_time_played']
      %p
        Knife Kills:
        = stats['total_kills_knife']
      %p
        MVP Stars:
        = stats['total_mvps']
      %p
        Tazer Kilzz:
          = stats['total_kills_taser']
