.text-content
  .row
    .columns
      %p Guns + Skins not complete! - I cant keep up with Valve adding new stuff. Maybe in the future.
      %p Click to see Skins. Click on Skin to go to Market.

#guns
  - Weapon::CATEGORIES.each do |category|
    .row
      .columns.small-12
        %h3= category
    .row.tiles
      - @weapons.where(category: category).each do |weapon|
        = link_to weapon_path(weapon.id) do
          .item.columns.small-6.large-2.text-center
            .gun-tile
              %h5= weapon.name
              = image_tag(weapon.image)
              %p= "Skins: #{weapon.skins.count}"
