#guns
  .row
    .columns
      %h3= @weapon.name
  .row.weapon-info
    .columns.large-4.text-center
      = image_tag(@weapon.image, class: 'show-image')
    .columns.large-8
      %table
        %thead
          %tr
            %th Name:
            %th= @weapon.name
        %tbody
          %tr
            %td Category:
            %td= @weapon.category
          %tr
            %td Available CT:
            %td
              - if @weapon.available_ct
                = image_tag('icons/icon-oke.png')
              - else
                = image_tag('icons/icon-nope.png')
          %tr
            %td Available T:
            %td
              - if @weapon.available_t
                = image_tag('icons/icon-oke.png')
              - else
                = image_tag('icons/icon-nope.png')
          %tr
            %td Price:
            %td= "#{@weapon.price}$"
          %tr
            %td Steam Store:
            %td= link_to "All Items for #{@weapon.name}", "http://steamcommunity.com/market/search?q=#{@weapon.name}", target: '_blank'

  .row
    .columns
      %h3 Skins

  .row
    - Skin::QUALITIES.each do |quality|
      - if @weapon.skins.where(quality: quality).any?
        - @weapon.skins.where(quality: quality).each do |skin|
          = link_to "http://steamcommunity.com/market/search?q=#{skin.search_query}", target: '_blank' do
            .item.columns.small-6.large-2
              .skin-tile{ class: skin.quality }
                %h5= skin.name
                = image_tag(skin.image)
                .stattrak
                  %p{ class: skin.stattrak ? 'yup' : 'nope' } Stattrak:
                .souvenir
                  %p{ class: skin.souvenir ? 'yup' : 'nope' } Souvenir:

