#guns
  - @skins.map(&:collection).uniq.each do |collection|
    .row
      .columns.small-12
        %h3= collection
    .row.tiles
      - Skin::QUALITIES.each do |quality|
        - @skins.where(collection: collection, quality: quality).each do |skin|
          = link_to "http://steamcommunity.com/market/search?q=#{skin.search_query}", target: '_blank' do
            .item.columns.small-6.large-2
              .skin-tile{ class: skin.quality }
                %h5= skin.name
                = image_tag(skin.image)
                .stattrak
                  %p{ class: skin.stattrak ? 'yup' : 'nope' } Stattrak:
                .souvenir
                  %p{ class: skin.souvenir ? 'yup' : 'nope' } Souvenir:
