%hr
= simple_form_for([:cms, resource], wrapper: :bootstrap, html: { class: 'form-horizontal' } ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :username
    = f.input :steam_link
    = f.input :frequency, collection: ClanMember::FREQUENCIES, as: :radio_buttons
    = f.input :current_rank, collection: ClanMember::RANKS
    = f.input :languages

  .form-actions
    = f.button :submit



