!!! 5
/[if lt IE 7]
  %html.no-js.lt-ie9.lt-ie8.lt-ie7{ lang: I18n.locale }
/[if IE 7]
  %html.no-js.lt-ie9.lt-ie8{ lang: I18n.locale }
/[if IE 8]
  %html.no-js.lt-ie9{ lang: I18n.locale }
<!--[if gt IE 8]><!-->
%html.no-js{ lang: I18n.locale }
  <!--<![endif]-->
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    - if  content_for?(:head)
      = yield(:head)
    - else
      %title 'Untitled'
      %meta{ name: 'keywords', content: '' }
      %meta{ name: 'description', content: '' }

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    -# Favicons
    = favicon_link_tag('favicons/32x32.png', rel: 'icon', type: 'image/png')
    / = favicon_link_tag('favicons/32x32.ico')

    -# Typekit
    = render 'layouts/typekit'

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    <!--[if (lt IE 9) & (!IEMobile)]>
    = stylesheet_link_tag    'ie', media: 'all', 'data-turbolinks-track' => true
    <![endif]-->

    = javascript_include_tag 'modernizr', 'data-turbolinks-track' => true
    = csrf_meta_tags


  %body{ class: body_class }
    .row
      .columns
        %header{role: "banner"}
          = render 'partials/header'

        %main#maincontent{role: "content"}
          = yield

        %footer{role: "contentinfo"}
          = render 'partials/footer'

    -# Application JavaScripts
    = tinymce
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    -# Selectivizr
    <!--[if lte IE 8]>
    = javascript_include_tag 'selectivizr'
    <![endif]-->
